<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Feedie Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="UTC"/>
        <env name="FEEDIE_CACHE" value="true"/>
        <env name="FEEDIE_CACHE_AMOUNT" value="20"/>
        <env name="FEEDIE_CACHE_TIME" value="60"/>
        <env name="FEEDIE_INSTAGRAM_TOKEN" value=""/>
        <env name="FEEDIE_TWITTER_CONSUMER_KEY" value=""/>
        <env name="FEEDIE_TWITTER_CONSUMER_SECRET" value=""/>
        <env name="FEEDIE_TWITTER_ACCESS_TOKEN" value=""/>
        <env name="FEEDIE_TWITTER_ACCESS_TOKEN_SECRET" value=""/>
    </php>
</phpunit>